@import'body/header';
@import'body/main';
@import'body/footer';

*{
    padding: 0em;
    margin: 0em;
    box-sizing: border-box;
}

.container{
    @include flexColumn();

    .divisorTop{

        @include marginTop();
        display: flex;

        img{
            width: 100%;
        }
    }
    
    .divisorBottom{

        @include marginBottom();

        img{
            width: 100%;
        }
    }
}
    
h1{
    @include tipoHeader();
}

p{
    @include tipoBody();
}

.fondoAzul{
    background-color: $azulMP;
}

