@import'body/header';
@import'body/main';
@import'body/footer';

*{
    padding: 0em;
    margin: 0em;
    box-sizing: border-box;
}

.container{
    @include flexColumn();

    .divisor{
        width: 100%;
        @include marginTop();

        img{
            width: 100%;
        }
    }
}
    
h1{
    @include tipoHeader();
}

p{
    @include tipoBody();
}

