@media(max-width: 375px){

    *{
        margin: 0;
        padding: 0em;

    }
    body{
        width: auto;
        width: 100%;
    }



    .container{

        .divisorTop , .divisorBottom{
            margin: 0em;
        }


        width: 100%;

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 
        1fr .5fr 1fr .25fr 1fr .25fr 1fr .25fr 1fr .25fr .6fr .25fr 1.5fr;

        header{
            
            .header{
                height: 20%;
                margin: 1.5em 1em 0em 1em;
                align-items: flex-start;

                img{
                    height: 15%;
                    margin: 0em;
                }
                
                button{
                    font-size: .6em;
                    height: 20%;
                    width: 20%;
                    margin: 0em;
                }
            }
            .contenidoTop{
                padding: 0em;
                margin: 0em;
                height: 80%;
                width: 100%;
                justify-content: center;

                h1{
                    text-align: center;
                    height: auto;
                    width: 70%;
                    font-size: 1.47em;

                       
                }
                p{
                    font-size: .8em;
                    line-height: 1.5em;
                    width: 75%;
                    align-self: center;
                }
                button{
                    height: 12%;
                    width: 55%;
                }
            }
        }

        #screenMockup{
            margin: 0em;

            img{
            height: 75%;
            width: 80%;
            }
        }

        #divs{
            margin: 0em;

            flex-direction: column;
            justify-content: flex-start;
            
            div:first-child{
                padding-top: 5%;
            }

            div:nth-child(2){
                padding-top: 25%;
            }

            div{

                width: fit-content;
                align-self: center;
                img{
                    width: 17%;
                }
                h1{
                    font-size: 3.5em;
                    text-align: center;
                }
                p{
                    font-size: 1em;
                }
            }
        }

        .contenido{
            padding: 0em;
            flex-direction: column;
            justify-content: center;

            div{
                order: 0;
                width: 75%;
                padding: 10% 0em;

                h1{
                    width: 100%;
                    font-size: 1.4em;
                    text-align: center;
                }
                p{
                    font-size: .9em;
                    text-align: center;
                    width: 100%;
                }
            }
            .img{
                order: 1;

            }
        }
        .fondoAzul{
            flex-direction: column-reverse;
        }
        .span{
            justify-content: flex-start;
            padding-bottom: 17%;
        }

        #top1 , #top2 , #topFooter , #bottom1 , #bottom2 {
            height: 200%;
            background-size: 100%;
        }

        #top1{
            background-image: url(/images/mobile/bg-section-top-mobile-1.svg);

        }
        #top2{
            background-image: url(/images/mobile/bg-section-top-mobile-2.svg);
        }
        #topFooter{
            background-image: url(/images/mobile/bg-footer-top-mobile.svg);
        }
        #bottom1{
            background-image: url(/images/mobile/bg-section-bottom-mobile-1.svg);
        }
        #bottom2{
            background-image: url(/images/mobile/bg-section-bottom-mobile-2.svg);
        }

        .contenidoBottom{

            height: 100%;
            padding-top: 20%;
            justify-content: flex-start;
            h1{
                font-size: 1.5em;
                width: 65%;
                text-align: center;
            }
            button{
                font-size: .75em;
                width: 55%;
                height: 10%;
                box-shadow: 0em .3em .5em .1em rgba(0, 0, 0, 0.2);

            }
        }

        footer{
            height: 100%;
            padding: 0em;

            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;

            div{
                width: 85%;
                height: 45%;
                padding: 0em 0em 10% 0em;

            }

            form{
                width: 85%;
                height: 45%;
                padding: 0em 0em 10% 0em;

                h1{
                    font-size: 1.2em;
                }
                p{
                    font-size: .90em;
                    width: 100%;
                    padding: 0em;
                }
                div{
                    height: 35%;
                    flex-direction: column;
                    justify-content: space-around;

                    input{
                        width: 100%;
                        height: 40%;
                    }
                    button{
                        font-size: 1em;
                        width: 50%;
                        height: 40%;
                        align-self: flex-end;
                    }
                }
            }
        }
    }
}