//Typografies

@mixin tipoHeader {
    font-family: 'Poppins', sans-serif;
}
@mixin tipoBody {
    font-family: 'Open Sans', sans-serif;
}
@mixin flexColumn {
    display: flex;
    flex-direction: column;
}
