@import'variables';
$margen : 4.3em;

//Typografies

@mixin tipoHeader {
    font-family: 'Poppins', sans-serif;
}
@mixin tipoBody {
    font-family: 'Open Sans', sans-serif;
}

//Flex
@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

//Margins
@mixin marginX {
    margin: $margen 0em;
}
@mixin marginTop {
    margin: $margen 0em 0em 0em;
}
@mixin marginBottom {
    margin-bottom: $margen;
}

//Background divisores
@mixin backgroundDivisores {
    height: 11em;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

//Botton

@mixin ButtonHeader{
    font-size: 1em;
    font-weight: 600;
    @include tipoBody();
    width: 9%;
    height: 19%;
    color: $rosa;
    background-color: white;
    border: .1em solid $rosa;
    border-radius: 5rem;
    box-shadow: 0em .5em 1em .1em hsla(322, 100%, 66% ,.1);
}

@mixin ButtonRound{
    @include tipoBody();
    font-size: 5em;
    font-weight: 600;
    width: 22%;
    height: 17%;
    color: white;
    font-size: .9em;
    border: none;
    border-radius: 5rem;
    background-color: $rosa;
    box-shadow: 0em .5em 1em .1em rgba(0, 0, 0, 0.2);
    
}

@mixin Button {
    @include tipoBody();
    font-weight: 600;
    color: white;
    font-size: .9em;
    border: none;
    border-radius: .3rem;
    background-color: $rosa;
}