//Typografies

$margen : 4.3em;

@mixin tipoHeader {
    font-family: 'Poppins', sans-serif;
}
@mixin tipoBody {
    font-family: 'Open Sans', sans-serif;
}
@mixin flexColumn {
    display: flex;
    flex-direction: column;
}
@mixin marginX {
    margin: $margen 0em;
}
@mixin marginTop {
    margin: $margen 0em 0em 0em;
}
@mixin marginBottom {
    margin-bottom: $margen;
}