$margen : 4.3em;

//Typografies

@mixin tipoHeader {
    font-family: 'Poppins', sans-serif;
}
@mixin tipoBody {
    font-family: 'Open Sans', sans-serif;
}

//Flex
@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

//Margins
@mixin marginX {
    margin: $margen 0em;
}
@mixin marginTop {
    margin: $margen 0em 0em 0em;
}
@mixin marginBottom {
    margin-bottom: $margen;
}

//Background divisores
@mixin backgroundDivisores {
    height: 11em;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}