.container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container header .header {
  height: 13em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container header .header img {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-left: 4em;
}

.container header .header button {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-right: 4em;
  font-size: 1em;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  width: 9%;
  height: 19%;
  color: #ff52bf;
  background-color: white;
  border: 0.1em solid #ff52bf;
  border-radius: 5rem;
  -webkit-box-shadow: 0em 0.5em 1em 0.1em rgba(255, 82, 191, 0.1);
          box-shadow: 0em 0.5em 1em 0.1em rgba(255, 82, 191, 0.1);
}

.container header .contenidoTop {
  width: 70%;
  height: 55vh;
  margin: 4.3em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.container header .contenidoTop h1 {
  margin-bottom: .6em;
  font-size: 3em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container header .contenidoTop p {
  font-size: 1.3em;
  width: 60%;
  line-height: 1.7em;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container header .contenidoTop button {
  display: block;
  margin: 3em 0em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 5em;
  font-weight: 600;
  width: 22%;
  height: 17%;
  color: white;
  font-size: .9em;
  border: none;
  border-radius: 5rem;
  background-color: #ff52bf;
  -webkit-box-shadow: 0em 0.5em 1em 0.1em rgba(0, 0, 0, 0.2);
          box-shadow: 0em 0.5em 1em 0.1em rgba(0, 0, 0, 0.2);
  width: 32%;
  height: 15%;
}

.container #screenMockup {
  margin: 4.3em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container #screenMockup img {
  width: 70%;
}

.container #divs {
  margin: 4.3em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container #divs div h1 {
  font-family: 'Open Sans';
  font-size: 6em;
  letter-spacing: .05em;
}

.container #divs div p {
  font-size: 1.5em;
  color: grey;
  text-align: center;
}

.container .contenido {
  padding: 2em 6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .contenido div {
  width: 40%;
}

.container .contenido div h1 {
  font-size: 3em;
  line-height: 1em;
}

.container .contenido div p {
  font-weight: 600;
  width: 97%;
  margin-top: 1.7em;
}

.container .contenido .img {
  width: 100%;
}

.container .contenidoBottom {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container .contenidoBottom h1 {
  width: 40%;
  font-size: 2.2em;
}

.container .contenidoBottom button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 2.5em;
  font-family: 'Open Sans', sans-serif;
  font-size: 5em;
  font-weight: 600;
  width: 22%;
  height: 17%;
  color: white;
  font-size: .9em;
  border: none;
  border-radius: 5rem;
  background-color: #ff52bf;
  -webkit-box-shadow: 0em 0.5em 1em 0.1em rgba(0, 0, 0, 0.2);
          box-shadow: 0em 0.5em 1em 0.1em rgba(0, 0, 0, 0.2);
}

.container footer {
  height: 70vh;
  color: white;
  background-color: #00252e;
  padding: 0em 8em 4em 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container footer div {
  width: 26%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5em 0em 0em 0em;
}

.container footer div img {
  width: 82%;
}

.container footer div div {
  width: 100%;
  padding: 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.container footer div div ion-icon {
  font-size: 1.5em;
  margin-right: 1em;
}

.container footer div section {
  padding-top: 13%;
  font-size: 2.5em;
}

.container footer div section ion-icon {
  margin-right: .4em;
}

.container footer form {
  width: 44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5em 0em 6em 0em;
}

.container footer form h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
}

.container footer form p {
  width: 70%;
  padding-bottom: 1.5em;
}

.container footer form div {
  width: 100%;
  height: 20%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container footer form div input {
  width: 64%;
  height: 95%;
  border: none;
  border-radius: .4em;
}

.container footer form div button {
  width: 28%;
  height: 95%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: white;
  font-size: .9em;
  border: none;
  border-radius: .3rem;
  background-color: #ff52bf;
}

* {
  padding: 0em;
  margin: 0em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .divisorTop {
  margin: 4.3em 0em 0em 0em;
}

.container .divisorBottom {
  margin-bottom: 4.3em;
}

.container #top1 {
  background-image: url(/images/desktop/bg-section-top-desktop-1.svg);
  background-position: bottom;
  height: 11em;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.container #top2 {
  background-image: url(/images/desktop/bg-section-top-desktop-2.svg);
  background-position: bottom;
  height: 11em;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.container #topFooter {
  background-image: url(/images/desktop/bg-footer-top-desktop.svg);
  background-position: bottom;
  height: 11em;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.container #bottom1 {
  background-image: url(/images/desktop/bg-section-bottom-desktop-1.svg);
  background-position: top;
  height: 11em;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.container #bottom2 {
  background-image: url(/images/desktop/bg-section-bottom-desktop-2.svg);
  background-position: top;
  height: 11em;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #00252e;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7em;
}

.fondoAzul {
  background-color: #f5faff;
}
/*# sourceMappingURL=styles.css.map */