@import'../variables';
@import'../mixins';
@import'../media';

*{
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
}

.container{

    header{
        @include flexColumn();
        
        .header{
            height: 13em;

            display: flex;
            justify-content: space-between;
            align-items: center;

            img{
                height: max-content;
                margin-left: $marginHeader;

            }
            button{
                height: max-content;
                margin-right: $marginHeader;
            }
        }
        .contenido{
            width: 70%;
            height: 55vh;
            @include marginX();
            
            @include flexColumn();
            justify-content: flex-end;
            align-items: center;
            align-content: center;
            
            align-self: center;
            
            h1{
                margin-bottom: .6em;
                font-size: 3em;
                align-self: center;
                
            }
            p{
                font-size: 1.3em;
                width: 60%;
                text-align: center;
                align-self: center;
                
            }
            button{
                display: block;
                margin: 3em 0em;
                align-self: center;

            }
        }
    }
}