@import'../variables';
@import'../mixins';
@import'../media';

.container{

    #screenMockup{
        @include marginX();
        @include flexColumn();
        align-items: center;

        img{
            width: 70%;
        }
    }

    #divs{
        @include marginX();

        display: flex;
        justify-content: space-evenly;

        div{
            h1{
                font-family: 'Open Sans';
                font-size: 6em;
                letter-spacing: .05em;

            }
            p{
                color: grey;
                font-size: 1.6em;
                text-align: center;
                
            }
        }
    }

    .contenido{
        padding: 4em 6em;

        display: flex;
        justify-content: space-evenly;
        align-items: center;

        div{
            width: 40%;

            h1{
                font-size: 3em;
                line-height: 1em;
            }
            p{
                width: 97%;
                line-height: 1.7em;
                margin-top: 1.7em;
            }
        }

        .img{
            width: 100%;
        }
    }

    .contenidoBottom{

        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        h1{
            font-size: 2.5em;
        }
        button{
            margin-top: 2.5em;
            align-self: center;

        }
    }

}